* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #252525;

}

.titulo {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  margin: 20px;

}

.formulario {
  display: flex;
  background-color: aquamarine;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 500px;
  border-radius: 10px;
}

#textos-input {
  font-weight: bold;
  margin: 18px;

}

.inputs {
  height: 35px;
  width: 350px;
  font-size: 18px;
  border: 2px;
  border-radius: 5px;
  box-shadow: none;
  padding-left: 10px;
}

.botao-container {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#botao1 {
  border: 5px;
  height: 25%;
  width: 25%;
  font-weight: bold;
  border-color: red;
}

#botao2 {
  height: 25%;
  width: 25%;
  font-weight: bold;
  border-color: green;
}

#botao1:hover, #botao2:hover {
  cursor: pointer;
}